<!DOCTYPE html>
<html lang="en">

<head>
    
    {% block header %} 
        {% include 'layout/header.html'%} 
    {% endblock %}

</head>

<body class="custom-gradient-bg">

    <div class="d-flex flex-column h-100" style="padding: 20% 5% 10%;">
        <div class="h-100">

        {% block title %}
            {% include 'layout/title.html'%}
        {% endblock %}

        {% block menu %}
            {% include 'layout/menu.html'%}
        {% endblock %}

        {% block social %}
            {% include 'layout/social-menu.html'%}
        {% endblock %}

        {% block footer %}
            {% include 'layout/footer.html'%}
        {% endblock %}

        <!-- Vendor JS -->
        {% block venderJs %}
            {% include 'layout/venderJs.html'%}
        {% endblock %}

        </div>
    </div>

</body>
</html>