<script>
    const apiKey = "{{ google_api_key }}";
    const calendarId = "{{ google_calendar_id }}";

    document.addEventListener('DOMContentLoaded', function() {
        let calendarEl = document.getElementById('draw_calendar');
        let calendar = new FullCalendar.Calendar(calendarEl, {
            
            googleCalendarApiKey: apiKey,
            events: {
                googleCalendarId: calendarId,
            },
            initialView:'timeGridWeek',
            themeSystem: 'bootstrap5',
            headerToolbar:{
            start: 'prev', // will normally be on the left. if RTL, will be on the right
            center: 'title',
            end: 'today timeGridDay,timeGridWeek,dayGridMonth next' // will normally be on the right. if RTL, will be on the left
            }
        });
        calendar.render();
    });
</script>

<div id="draw_calendar"></div>
