tr {
    height: 4rem;
}

a, i {
    color: #4d4d4d;
}

i:hover, a:hover, .active {
    color: #ffffff;
}

.pt-1x {
    padding-top: 10%;
}

.pt-3x {
    padding-top: 30%; 
}

.px-1x {
    padding-left: 10%;
    padding-right: 10%;
}

.py-1x-full {
    padding-top: 10%;
    padding-bottom: 10%;
}

.py-1x {
    padding-top: 3%;
    padding-bottom: 3%;
}

.mt-1x {
    margin-top: 7%;
}

.custom-rounded {
    border-radius: 70px;
}

.nl {
    font-size: 1.55rem;
}

/* Adjust the text size of FullCalendar events */
.fc table {
    font-size: 1.7rem;
}

.fc .fc-toolbar-title {
    font-size: 2.5rem;
}

.btn {
    --bs-btn-font-size: 1.4rem;
}

/* Mobile Menu Styles (visible on small screens) */
.mobile-menu {
    display: none!important; /* Hide mobile menu by default */
}
  
/* Hamburger Button Styles */
.menu-toggle {
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
}

/* hamburger */
.checkbox {
    display: none;
}
  
.button {
    position: relative;
    background-color: white;
    height: 5rem;
    width: 5rem;
    border-radius: 50%;
    position: fixed;
    top: 80vh; 
    right: 5vw; 
    z-index: 2000;
    box-shadow: 0 1rem 3rem black;
    text-align: center; 
    cursor: pointer;
}

.nav {
    height: 100vh;
    position: fixed;
    top: 0;
    right: -60vw;
    z-index: 1500;
    opacity: 0;
    width: 0;
    transition: all 0.8s;
  }

.list {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    list-style: none;
    text-align: center;
    width: 100%;
}

.item {
    margin: 1rem;
    font-size: 36px;
}

.link:link,
.link:visited {
    display: inline-block;
    font-size: 3rem;
    font-weight: 300;
    padding: 1rem 2rem;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    background-image: linear-gradient(
        120deg,
        transparent 0%,
        transparent 50%,
        white 50%
    );
    background-size: 220%;
    transition: all 0.4s;
}

.link:hover,
.link:active {
    color: lightgreen;
    cursor: pointer;
}

/* functionality */
.checkbox:checked ~ .background {
    transform: scale(80);
}
.checkbox:checked ~ .nav {
    opacity: 1;
    width: 100%;
    right: 0;
}

/*  */
/* styling hamb ICON */
.icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.icon,
.icon::before,
.icon::after {
    width: 3rem;
    height: 2px;
    background-color: gray;
    display: inline-block;
}

.icon::before,
.icon::after {
    content: "";
    position: absolute;
    left: 0;
    transition: all 0.2s;
}

.icon::before {
    top: -0.8rem;
}
.icon::after {
    top: 0.8rem;
}

.button:hover icon:before {
    top: -1rem;
}
.button:hover icon::after {
    top: 1rem;
}

.checkbox:checked + .button .icon {
    background-color: transparent;
}

.checkbox:checked + .button .icon::before {
    top: 0;
    transform: rotate(135deg);
}
.checkbox:checked + .button .icon::after {
    top: 0;
    transform: rotate(-135deg);
}

.nav-bg {
    background-color: #00B8D2;
}

.ml {
    font-size: 5rem!important;
    color: white;
    padding-bottom: 5%;
}

@media (min-width: 992px) {
    
    .mobile-title {
        display: none!important;
    }

    .desktop-footer {
        display: flex!important;
    }

}

@media (max-width: 991.5px) {

    .pt-md-1x {
        padding-top: 6%;
    }

    #desktop-menu {
        display: none!important;
    }

    .desktop-footer {
        display: none!important;
    }
    
    .mobile-menu {
        display: block!important;
    }
    
}